@import "tailwindcss";

@theme {
  --color-brand-primary: #006D3E;
  --color-brand-secondary: #047857;
  --color-brand-accent: #059669;
  --color-brand-gray: #475569;
  --color-brand-white: #FFFFFF;
  --color-brand-background: #FAF9F6;

  /* Mission Card Colors */
  --color-card-green: #9FF19C;
  --color-card-yellow: #FFDE9E;
  --color-card-light: #F1F5F9;
  --color-bg-soft: #F8FAFB;
}

/* Using a simple, clean system font */
body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  @apply text-brand-gray bg-white;
}